---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import PostLists from "../components/PostLists.astro";
const githubUsername = "winnietthepooh";
const twitterUsername = "Caden32Com";
const youtubeUrl = "https://www.youtube.com/channel/UCIwrI7e64rEkbiDSalxzqIQ";

let allPosts = await Astro.glob("../data/*.md");
allPosts = allPosts.sort((a, b) => {
	new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.data).valueOf();
});

const recentPosts = allPosts.slice(0, 2);
---

<MainLayout title="Caden's Blog">
	<main
		class="hide-mobile text-center grid grid-cols-2 pb-4 gap-2 overflow-auto"
	>
		<div class="pt-4 text-6xl">
			<PostLists posts={recentPosts} />
		</div>

		<div
			class="bg-pickled-bluewood-500 rounded-3xl pl-8 pr-4 text-white justify-center h-[85vh] w-[85%]"
		>
			<div class="grid place-items-center pt-4">
				<img
					src="assets/memoji_laptop.png"
					alt="Caden's avatar"
					class="p-4 rounded-[300px] bg-black"
				/>
			</div>
			<div
				class="p-10 grid grid-cols-3 place-items-center justify-between"
			>
				<a
					rel="nofollow noopener"
					href={`${youtubeUrl}`}
					target="_blank"
					title={`${twitterUsername} on Youtube`}
				>
					<img
						src="assets/youtube-social.svg"
						alt="Caden's youtube channel"
						class="p-4 object-scale-down md:h-40 md:w-40 sm:h-20 sm:w-20"
					/>
				</a>
				<a
					rel="nofollow noopener"
					href={`https://twitter.com/${twitterUsername}`}
					target="_blank"
					title={`${twitterUsername} on Twitter`}
				>
					<img
						src="assets/twitter-blue-circle.svg"
						alt="Caden's avatar"
						class="p-4 object-scale-down md:h-40 md:w-40 sm:h-20 sm:w-20"
					/>
				</a>

				<a
					rel="nofollow noopener"
					href={`https://github.com/${githubUsername}`}
					target="_blank"
					title={`${githubUsername} on Github`}
				>
					<img
						src="assets/github-social.svg"
						alt="Caden's avatar"
						class="p-4 object-scale-down md:h-40 md:w-40 sm:h-2 sm:w-2"
					/>
				</a>
			</div>
		</div>
	</main>
	<main
		class="show-mobile h-screen grid grid-rows-2 gap-y-2 text-center mb-[30rem]"
	>
		<div
			class="bg-pickled-bluewood-500 rounded-3xl pl-8 pr-8 mx-1 text-white justify-center h-max w-[99%] mb-4"
		>
			<div class="grid place-items-center pt-4">
				<img
					src="assets/memoji_laptop.png"
					alt="Caden's avatar"
					class="p-4 rounded-[300px] bg-black"
				/>
			</div>
			<div
				class="p-10 grid grid-cols-3 place-items-center justify-between"
			>
				<a
					rel="nofollow noopener"
					href={`${youtubeUrl}`}
					target="_blank"
					title={`${twitterUsername} on Youtube`}
				>
					<img
						src="assets/youtube-social.svg"
						alt="Caden's youtube channel"
						class="p-2 object-scale-down md:h-40 md:w-40 sm:h-auto sm:w-auto"
					/>
				</a>
				<a
					rel="nofollow noopener"
					href={`https://twitter.com/${twitterUsername}`}
					target="_blank"
					title={`${twitterUsername} on Twitter`}
				>
					<img
						src="assets/twitter-blue-circle.svg"
						alt="Caden's avatar"
						class="p-2 object-scale-down md:h-40 md:w-40 sm:h-auto sm:w-auto"
					/>
				</a>

				<a
					rel="nofollow noopener"
					href={`https://github.com/${githubUsername}`}
					target="_blank"
					title={`${githubUsername} on Github`}
				>
					<img
						src="assets/github-social.svg"
						alt="Caden's avatar"
						class="p-2 object-scale-down md:h-40 md:w-40 sm:h-auto sm:w-auto"
					/>
				</a>
			</div>
		</div>
		<div class="pt-4 text-6xl">
			<PostLists posts={recentPosts} />
		</div>
	</main>
</MainLayout>

<style>
	@media only screen and (max-device-width: 480px) {
		.show-mobile {
			display: grid;
		}

		.hide-mobile {
			display: none;
		}
	}

	@media only screen and (min-device-width: 481px) {
		.show-mobile {
			display: none;
		}

		.hide-mobile {
			display: grid;
		}
	}
</style>
