---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Posts from "../components/Posts.astro";
const githubUsername = "winnietthepooh";
const twitterUsername = "Caden32Com";
---

<Layout title="Caden's Blog.">
	<main class="text-center grid grid-cols-2 pb-4 gap-2">
		<div class="">
			<div class="pt-4">
				<Posts />
			</div>
		</div>

		<div
			class="bg-pickled-bluewood-500 rounded-3xl pl-8 pr-4 text-white justify-center h-[85vh] w-[85%]"
		>
			<div class="grid place-items-center pt-4">
				<img
					src="assets/memoji_laptop.png"
					alt="Caden's avatar"
					class="p-4 rounded-[300px] h-full w-full bg-black"
				/>
			</div>
			<div
				class="p-10 grid grid-cols-3 place-items-center justify-between"
			>
				<a
					rel="nofollow noopener"
					href={`https://youtube.com/${twitterUsername}`}
					target="_blank"
					title={`${twitterUsername} on Youtube`}
				>
					<img
						src="assets/youtube_social_icon_white.png"
						alt="Caden's youtube channel"
						class="p-4 object-scale-down h-40 w-40"
					/>
				</a>
				<a
					rel="nofollow noopener"
					href={`https://twitter.com/${twitterUsername}`}
					target="_blank"
					title={`${twitterUsername} on Twitter`}
				>
					<img
						src="assets/Twitter social icons - circle - blue.png"
						alt="Caden's avatar"
						class="p-4 object-scale-down h-40 w-40"
					/>
				</a>

				<a
					rel="nofollow noopener"
					href={`https://github.com/${githubUsername}`}
					target="_blank"
					title={`${githubUsername} on Github`}
				>
					<img
						src="assets/GitHub-Mark-120px-plus.png"
						alt="Caden's avatar"
						class="p-4 h-full w-full"
					/>
				</a>
			</div>
		</div>
	</main>
</Layout>
