---
let posts = await Astro.glob("../data/*.md");
import.meta.env.DEV;
let link = import.meta.env.DEV
    ? "http://localhost:3000"
    : "https://caden32.com";
---

<div class="text-3xl mb-8">
    <h1 class="underline decoration-pickel-me-pink-500">Blog Posts</h1>
    {
        posts.map((post) => {
            return (
                <div class="py-8">
                    {post.frontmatter.url}
                    {console.log(link)}
                    <a
                        rel="nofollow noopener"
                        href={`${link}${post.url}`}
                        target="_blank"
                        title={`${post.frontmatter.description}`}
                    >
                        <h1 class="py-4">{post.frontmatter.title}</h1>
                        <p class="text-2xl">{post.frontmatter.preview}</p>
                    </a>
                </div>
            );
        })
    }
</div>
