---
interface Props {
    title: String;
    description: String;
    tags: String[];
    slug: String;
}

const { title, description,tags, slug} = Astro.props;
const capital = function (string) {
    return string.replace(string.charAt(0), string.charAt(0).toUpperCase())
}
---
<div-click data-slug={`${slug}`} class="hidden lg:flex mt-8 mx-8">
    <button>
        <div class="bg-pastel-gradient-light-blue-500 px-4 w-auto py-2 rounded-md drop-shadow-xl">
            <div class="text-xl pb-2">
                <h1 class="drop-shadow-md text-pastel-gradient-gray-600">{title}</h1>
                <h2 class="text-lg text-[#495057]">{description}</h2>
            </div>
            <div class="flex justify-center items-center">
                <ul class=`flex flex-rows justify-center items-center gap-4`>
                    {
                        tags.map((tag) => {
                            return(
                                <li class=`rounded-full px-2 py-1 bg-pastel-gradient-blue-600 text-pastel-gradient-white-400`>
                                    <a href={"/tags/" + `${tag.toLowerCase()}`}>{capital(tag)}</a>
                                </li>
                            )
                        })
                    }
                </ul>
            </div>
        </div>
    </button>
</div-click>

<div-click data-slug={`${slug}`} class="flex lg:hidden mx-8">
    <button>
        <div class="bg-pastel-gradient-light-blue-500 px-4 w-auto py-2 rounded-md justify-between">
            <div>
                <h1>{title}</h1>
                <h2>{description}</h2>
            </div>
            <div class="flex justify-center items-center">
                <ul class="flex flex-row items-center justify-center gap-4">
                    {
                        tags.map((tag) => {
                            return (<li class="rounded-full bg-pastel-gradient-blue-600 px-2 text-pastel-gradient-white-400">
                                <a href={"/tags/" + `${tag.toLowerCase()}`}>{capital(tag)}</a>
                            </li>)
                        })
                    }
                </ul>
            </div>
        </div>
    </button>
</div-click>

<script>
    class DivClick extends HTMLElement {
        constructor() {
            super();
            const page = this.dataset.slug;
            const button = this.querySelector('button');
            if (button) {
                button.addEventListener('click', () => {
                    window.location.href = page;
                    });
                }
            }
        }

        customElements.define('div-click', DivClick);
</script>
